<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
</head>
<body>
<h1>Accounts</h1>
<table>
    <thead>
    <tr>
        <th>Account Number</th>
        <th>Balance</th>
        <th>Deposit Amount</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="t : ${account}">
        <td th:text="${t.accountNumber}"></td>
        <td th:text="${t.balance}"></td>
        <td th:text="${t.depositAmount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>